spring:
  datasource:
    url: jdbc:h2:mem:localdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

catedra:
  base-url: http://localhost:9999
  jwt-token: LOCAL_TOKEN
