spring:
  application:
    name: proxy
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:192.168.194.250:9092}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID:ticketflow-bruno}
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      missing-topics-fatal: false
      ack-mode: manual_immediate
      auto-startup: true
  data:
    redis:
      host: ${REDIS_HOST:192.168.194.250}
      port: ${REDIS_PORT:6379}
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

server:
  port: ${SERVER_PORT:8081}

application:
  backend:
    base-url: ${BACKEND_BASE_URL:http://localhost:8080}
    sync-events-path: ${BACKEND_SYNC_EVENTS_PATH:/api/admin/eventos/sincronizar}
    jwt:
      secret: ${BACKEND_JWT_SECRET:NTUyYWZmNTFlMjhhNjJiNWM5MWVlMTBlZmIwZGNhNjQ2NjYwNTYyODNmNjkyMDM1ZDM0ZjczN2E5YmY4NDc0MmJlMjI5M2I1NjFjOTY5ZDQ5NzAwNmM5YTUxOGM3YTg5NWZmN2RmNTVjOWE5YTA3YTg3YTU1M2E2NzI3NTJhNDg=}
      token-validity-in-seconds: 86400
  catedra:
    base-url: ${CATEDRA_BASE_URL:http://192.168.194.250:8080}
    auth-token: ${CATEDRA_AUTH_TOKEN:eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJicnVubyIsImV4cCI6MTc2ODA3NjMyNSwiYXV0aCI6IlJPTEVfVVNFUiIsImlhdCI6MTc2NTQ4NDMyNX0.fbkGBiTrjYGexPHotrbAZHo7SW1aZ5M1BnusWod8jcA3SS4NqbIuRFpcdD7nqXx72QKoMtd1-BGR2KoR5LSeyQ}
  kafka:
    topic:
      eventos: ${KAFKA_TOPIC_EVENTOS:eventos-actualizacion}

logging:
  level:
    root: INFO
    com.um.eventosproxy: DEBUG
    org.springframework.kafka: INFO
    org.apache.kafka: WARN
    org.apache.kafka.clients.consumer: INFO
    org.apache.kafka.clients.NetworkClient: WARN
    org.apache.kafka.clients.consumer.internals.ConsumerCoordinator: WARN